body {
  background: #ffffff;
  color: #333333;
}
a:link {
  color: #0f6691;
}
a:visited {
  color: #1b75ab;
}
#message {
  background: #fff59c;
}
#message a {
  border-bottom: 1px dotted #ffb951;
  color: #f27900;
}
#header {
  background: url('../images/header-blue-bg.png') no-repeat top center #11273d;
  border-bottom: 1px solid #000817;
}
#header div.border {
  border-bottom: 1px solid #5585be;
}
#header .region ul.menu li a {
  color: #a4c8ea;
}
#header .region ul.menu li a:hover,
#header .region ul.menu a#active_menu-nav {
  color: #d8e9ff;
}
#header .region .sf-menu li li a {
  border: 1px solid #0e4367;
  color: #d5e9ff !important;
}
#header .region .sf-menu li li {
  background: #104f78;
}
#header .region .sf-menu li li li {
  background: #104b74;
}
#header .region .sf-menu li:hover,
#header .region .sf-menu li.sfHover,
#header .region .sf-menu a,
#header .region .sf-menu a:focus,
#header .region .sf-menu a:hover,
#header .region .sf-menu a:active {
  background: transparent;
  color: #a4c8ea !important;
}
#header .region .sf-menu li li:hover,
#header .region .sf-menu li li.sfHover,
#header .region .sf-menu li li a:focus,
#header .region .sf-menu li li a:hover,
#header .region .sf-menu li li a:active {
  background: #156499;
  color: #ffffff !important;
}
#header .block-search {
  background: url('../images/header-search-bg.png') no-repeat bottom left;
}
#header .block-search .form-text {
  color: #ccdff3;
}
#header .block-search .form-submit {
  background: url('../images/header-search-btn.png') no-repeat center center;
}
#intro {
  background: #29507a;
  border-top: 1px solid #32649a;
  color: #e1eeff;
}
#intro a {
  color: #e2f1ff;
}
#intro a:hover {
  color: #f2f9ff;
}
#intro .description {
  color: #e1eeff;
}
#intro .description h3.block-title {
  color: #ffffff;
}
#top {
  background: #e9e9e9;
  border-bottom: 1px solid #c7c7c7;
  color: #444444;
}
#top div.border {
  border-bottom: 1px solid #f4f4f4;
}
#top .column ul.menu li a,
#top .column ul.menu li.expanded li.leaf.last a {
  border-bottom: 1px solid #c9c9c9;
}
#top .column a:link {
  color: #444444;
}
#top .column a:visited {
  color: #666666;
}
#top .column a:hover {
  color: #333333;
}
#top h3.block-title {
  color: #555555;
}
#top .block-search,
#sidebar-right .block-search,
#sidebar-left .block-search {
  background: url('../images/search-bg.png') no-repeat bottom left;
}
#top .block-search .form-submit,
#sidebar-right .block-search .form-submit,
#sidebar-left .block-search .form-submit {
  background: url('../images/search-btn.png') no-repeat center center;
}
#top .block-search .form-text {
  color: #555555;
}
#mission {
  background: #f4f4f4;
  border: 1px solid #c4c4c4;
  color: #444444;
}
#mission div.border {
  border: 1px solid #ffffff;
}
#main h1.title {
  color: #444444;
}
#main h1.title a {
  color: #444444;
}
#main h1.title a:focus {
  background: #f4f4f4;
}
#main h1.title a:hover {
  color: #555555;
}
#main .details {
  background: #f8f8f8;
  border-top: 1px dotted #cccccc;
  color: #666666;
}
#main .details-fp {
  border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
  color: #777777;
}
#main .details-fp a {
  color: #777777;
}
#main .details-fp a:hover {
  color: #555555;
}
#main .vertical-tabs-list li {
  background: #f7f7f7;
}
#main .vertical-tabs-list li:hover {
  background: #f4f4f4;
}
#main .vertical-tabs-list li a:link,
#main .vertical-tabs-list li a:visited {
  color: #444444;
}
#main .vertical-tabs-list li a:hover {
  color: #333333;
}
#main .vertical-tabs,
#main .vertical-tabs-list li.selected {
  background: #ffffff;
}
#content_above {
  border-bottom: 1px dotted #c4c4c4;
}
#content_below {
  border-top: 1px dotted #c4c4c4;
}
#sidebar-right .block-search .form-text,
#sidebar-left .block-search .form-text {
  color: #555555;
}
#sidebar-right h3.block-title,
#sidebar-left h3.block-title {
  color: #555555;
}
#mainmenu .bg {
  background: url('../images/mainmenu-bg.png') repeat-y top right;
}
#mainmenu .bg .bg {
  background: url('../images/mainmenu-bg-top.png') no-repeat top right;
}
#mainmenu .bg .bg .bg {
  background: url('../images/mainmenu-bg-bottom.png') no-repeat bottom right;
}
#mainmenu ul.menu li a {
  color: #80abd4;
}
#mainmenu ul.menu li a:hover,
#mainmenu ul.menu li a:focus {
  color: #4387c8;
}
#mainmenu ul.menu li a.active {
  background: url('../images/mainmenu-active-bg.png') no-repeat bottom left #ffffff;
  color: #00509c;
}
#middle h3.block-title {
  background: url('../images/sidebar-block-title-bg.png') repeat-x top center #d7d7d7;
  border: 1px solid #bebebe;
  color: #414141;
}
#middle h3.block-title span.border {
  border: 1px solid #f1f1f1;
}
#middle {
  background: #f1f1f1;
  border-top: 1px solid #c4c4c4;
}
#bottom {
  background: url('../images/bottom-bg.png') repeat-x top center #333333;
  border-bottom: 1px solid #111111;
  border-top: 1px solid #111111;
  color: #d1d1d1;
}
#bottom .column ul.menu li a,
#bottom .column ul.menu li.expanded li.leaf.last a {
  border-bottom: 1px solid #484848;
}
#bottom .column a:link {
  color: #e8e8e8;
}
#bottom .column a:visited {
  color: #c4c4c4;
}
#bottom .column a:hover {
  color: #ffffff;
}
#bottom h3.block-title {
  color: #c4c4c4;
}
#bottom .block-search {
  background: url('../images/bottom-search-bg.png') no-repeat bottom left;
}
#bottom .block-search .form-text {
  color: #777777;
}
#bottom .block-search .form-submit {
  background: url('../images/bottom-search-btn.png') no-repeat center center;
}
#footer a {
  color: #666666;
  font-weight: bold;
}
#footer a:hover,
#footer ul.menu li a:hover,
#footer ul.menu a#active_menu-nav {
  color: #444444;
}
#footer ul.menu li a {
  border-color: #c4c4c4;
}