li.collapsed {
  list-style-image: url(../images/menu-collapsed-rtl.png);
}
html.js fieldset.collapsible legend a,
html.js fieldset.collapsed legend a {
  background-position: right center;
}
div.messages,
div.status,
div.warning,
div.error,
tr.warning,
tr.error,
tr.ok {
  padding: 5px 35px 5px 5px;
}
div.warning,
table.system-status-report tr.warning th,
div.error,
table.system-status-report tr.error th,
div.status,
table.system-status-report tr.ok th {
  background-position: right center;
}
.item-list ul.pager li {
  float: right;
  margin: 0 0 0 2px !important;
}
.poll .bar,
.poll .bar .foreground {
  background-position: right center;
}
#user-login-form {
  text-align: right;
}