#header {
  background-image: url('../images/header-light-blue-bg-rtl.png');
}
#mainmenu .bg,
#mainmenu .bg .bg {
  background-position: top left;
}
#mainmenu .bg .bg .bg {
  background-position: bottom left;
}
#mainmenu ul.menu li a.active {
  background-image: url('../images/mainmenu-active-bg-rtl.png');
  background-position: bottom right;
}