p {
  font-family: Tahoma, Arial, "Courier New", sans-serif;
  font-size: 12px;
}
.center {
  direction: rtl;
  text-align: right;
}
#header .logo {
  left: auto;
  right: 0;
}
#header .region,
#intro .description {
  float: left;
}
#top .block,
#sidebar-right .block,
#sidebar-left .block
#bottom .block,
#header .block-menu,
#header ul.menu,
#header ul.nice-menu,
#intro .image,
#top .column,
#main .details .icon,
#middle h3.block-title,
#bottom .column {
  float: right;
}
#top .column ul.menu li ul li a,
#bottom .column ul.menu li ul li a {
  padding-left: 5px;
  padding-right: 15px;
}
#top .column ul.menu li ul li ul li a,
#bottom .column ul.menu li ul li ul li a {
  padding-left: 5px;
  padding-right: 30px;
}
#top .column ul.menu li ul li ul li ul li a,
#bottom .column ul.menu li ul li ul li ul li a {
  padding-left: 5px;
  padding-right: 45px;
}
#top .column ul.menu li ul li ul li ul li ul li a,
#bottom .column ul.menu li ul li ul li ul li ul li a {
  padding-left: 5px;
  padding-right: 60px;
}
#top .column ul.menu li ul li ul li ul li ul li ul li a,
#bottom .column ul.menu li ul li ul li ul li ul li ul li a {
  padding-left: 5px;
  padding-right: 75px;
}
#top .column ul.menu li ul li ul li ul li ul li ul li ul li a,
#bottom .column ul.menu li ul li ul li ul li ul li ul li ul li a {
  padding-left: 5px;
  padding-right: 90px;
}
#top .column ul.menu li ul li ul li ul li ul li ul li ul li ul li a,
#bottom .column ul.menu li ul li ul li ul li ul li ul li ul li ul li a {
  padding-left: 5px;
  padding-right: 105px;
}
#sidebar-right ul,
#sidebar-right ol,
#sidebar-left ul,
#sidebar-left ol,
#sidebar-right ul.menu,
#sidebar-right ol.menu,
#sidebar-left ul.menu,
#sidebar-left ol.menu {
  margin: 0;
  padding: 0 5px 0 0;
}
#sidebar-right ul li,
#sidebar-right ol li,
#sidebar-left ul li,
#sidebar-left ol li {
  margin-left: 0;
  padding-left: 0;
}
#main h1.title {
  font-size: 22px;
}
#main h1.title a {
  font-size: 30px;
}
#mainmenu .space {
  margin: 10px 0 10px 0 !important;
}
#mainmenu ul.menu li a {
  padding: 10px 0 10px 10px;
  text-align: left;
}
#mainmenu ul.menu li a.active {
  margin: 0;
  margin-left: -1px;
  padding-left: 11px;
  padding-right: 0;
}
#footer ul.menu li a {
  border-right-width: 0;
  border-left-width: 1px;
  border-left-style: solid;
  float: right;
}
#footer ul.menu li.first a {
  padding-left: 5px;
  padding-right: 0;
}