body {
  cursor: default;
  text-align: center;
}
a:link,
a:visited {
  text-decoration: none;
}
.space {
  margin: 10px;
}
.contents {
  clear: both;
}
.center {
  margin: 0 auto;
  text-align: left;
  width: 960px;
}
#top .block,
#sidebar-right .block,
#sidebar-left .block,
#bottom .block {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
#top .block,
#bottom .block {
  margin: 10px 0 10px 0;
}
#header .block-search .space,
#top .block-search .space,
#sidebar-right .block-search .space,
#sidebar-left .block-search .space,
#bottom .block-search .space {
  margin: 0;
}
#header .block-search label,
#top .block-search label,
#sidebar-right .block-search label,
#sidebar-left .block-search label,
#bottom .block-search label {
  display: none;
}
#message {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
#message a:hover {
  text-decoration: none;
}
#header {
  height: 70px;
}
#header div.border {
  height: 69px;
}
#header .logo {
  left: 0;
  outline: 0;
  position: relative;
  top: 0;
  width: 250px;
  z-index: 98;
}
#header h3.block-title {
  display: none;
}
#header .region {
  float: right;
  width: 700px;
}
#header .region.wide {
  width: 100%;
}
#header .region .block-menu {
  float: left;
  width: 535px;
}
#header .region.wide .block-menu {
  width: 785px;
}
#header .region .block-menu .space {
  margin: 25px 0 0 0;
}
#header .region ul.menu {
  float: left;
  list-style: none;
  margin: 0;
}
#header .region ul.menu li {
  display: inline;
}
#header .region ul.menu li a {
  display: inline;
  font: bold 14px Arial, Helvetica, Verdana, sans-serif;
  padding: 5px 10px 5px 10px;
}
#header .region ul.menu li a:hover,
#header .region ul.menu a#active_menu-nav {
  text-decoration: none;
}
#header .block-search {
  float: right;
  margin: 15px 0 0 0;
  width: 175px;
}
#header .block-search .form-text {
  background: transparent;
  border: 0;
  float: left;
  font-weight: bold;
  height: 18px;
  letter-spacing: 1px;
  margin: 0 0 0 8px;
  outline: 0;
  padding: 12px 0 10px 0;
  width: 112px;
}
#header .block-search .form-submit {
  border: 0;
  cursor: pointer;
  float: left;
  height: 30px;
  line-height: 99999px;
  margin: 5px 0 0 10px;
  outline: 0;
  overflow: hidden;
  text-indent: -99999px;
  width: 30px;
}
#intro a {
  text-decoration: underline;
}
#intro .space {
  margin: 10px 0 10px 0;
}
#intro .image {
  float: left;
  text-align: center;
  width: 300px;
}
#intro .image .space {
  margin: 0;
}
#intro .description {
  float: right;
  font-size: 14px;
  line-height: 22px;
  width: 650px;
}
#intro .description.wide {
  width: 960px;
}
#intro .description h3.block-title {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 28px;
}
#top {
  font-size: 14px;
  line-height: 20px;
}
#top .column {
  float: left;
}
#top.in1 .column {
  width: 960px;
}
#top.in2 .column {
  width: 480px;
}
#top.in3 .column {
  width: 320px;
}
#top.in4 .column {
  width: 240px;
}
#top.in5 .column {
  width: 192px;
}
#top .column ul.menu {
  margin: 0;
  padding: 0;
}
#top .column ul.menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#top .column ul.menu li a,
#top .column ul.menu li.expanded li.leaf.last a {
  margin: 0;
}
#top .column ul.menu li ul li a {
  padding-left: 15px;
}
#top .column ul.menu li ul li ul li a {
  padding-left: 30px;
}
#top .column ul.menu li ul li ul li ul li a {
  padding-left: 45px;
}
#top .column ul.menu li ul li ul li ul li ul li a {
  padding-left: 60px;
}
#top .column ul.menu li ul li ul li ul li ul li ul li a {
  padding-left: 75px;
}
#top .column ul.menu li ul li ul li ul li ul li ul li ul li a {
  padding-left: 90px;
}
#top .column ul.menu li ul li ul li ul li ul li ul li ul li ul li a {
  padding-left: 105px;
}
#top .column ul.menu li a {
  padding: 5px;
}
#top .column a:hover {
  text-decoration: none;
}
#top h3.block-title {
  font: bold 18px Arial, Helvetica, Verdana, sans-serif;
  letter-spacing: -1px;
  margin: 0;
  padding: 5px;
}
#top .block-search,
#sidebar-right .block-search,
#sidebar-left .block-search {
  clear: both;
  float: left;
  width: 100%;
}
#top .block-search .form-text {
  background: transparent;
  border: 0;
  float: left;
  font-weight: bold;
  height: 18px;
  letter-spacing: 1px;
  margin: 0 0 0 8px;
  outline: 0;
  padding: 10px 0 12px 0;
  width: 112px;
}
#top .block-search .form-submit {
  border: 0;
  cursor: pointer;
  float: left;
  height: 30px;
  line-height: 99999px;
  margin: 5px 0 0 10px;
  outline: 0;
  overflow: hidden;
  text-indent: -99999px;
  width: 30px;
}
#mission {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}
#mission div.border {
  padding: 10px;
}
#content .space {
  margin: 15px 0 15px 0;
}
#content .space .space {
  margin: 10px;
}
#main {
  float: left;
  width: 960px;
}
#main p {
  margin: 0 0 10px 0;
}
#main.normal {
  width: 750px;
}
#main.narrow {
  width: 550px;
}
#main .node img {
  margin: 5px;
}
#main .node {
  font-size: 14px;
  line-height: 22px;
}
#main .node-form legend {
  font-size: 14px;
  font-weight: bold;
  padding: 4px;
}
#main h1.title {
  font-size: 28px;
  line-height: 36px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
}
#main h1.title a {
  font: normal 32px 'Trebuchet MS', Arial, Helvetica, Verdana, sans-serif;
  letter-spacing: -1px;
  line-height: 40px;
  outline: none;
}
#main h1.title a:hover {
  text-decoration: none;
}
#main .details {
  font-size: 11px;
  margin: 10px 0 0 0;
}
#main .details ul,
#main .details-fp ul {
  margin: 0 !important;
}
#main .details .icon {
  float: left;
  height: 16px;
  margin: 2px;
  width: 16px;
}
#main .details .submitted .icon {
  background: url('../images/icons/users.png') no-repeat center center;
}
#main .details .links .icon {
  background: url('../images/icons/options.png') no-repeat center center;
}
#main .details .terms .icon {
  background: url('../images/icons/tag.png') no-repeat center center;
}
#main .details-fp {
  font-size: 10px;
  letter-spacing: 1px;
  margin: 0 0 10px 0;
}
#main .details-fp .space {
  margin: 5px;
}
#main .details-fp a {
  font-weight: bold;
}
#mainmenu,
#sidebar-left,
#sidebar-left-top,
#sidebar-left-bottom {
  float: left;
  width: 200px;
}
#sidebar-right {
  float: right;
  width: 200px;
}
#sidebar-right .block-search .form-text,
#sidebar-left .block-search .form-text {
  background: transparent;
  border: 0;
  float: left;
  font-weight: bold;
  height: 18px;
  letter-spacing: 1px;
  margin: 0;
  outline: 0;
  padding: 12px 0 10px 0;
  width: 115px;
}
#sidebar-right .block-search .form-submit,
#sidebar-left .block-search .form-submit {
  border: 0;
  cursor: pointer;
  float: left;
  height: 30px;
  line-height: 99999px;
  margin: 5px 0 0 10px;
  outline: 0;
  overflow: hidden;
  text-indent: -99999px;
  width: 30px;
}
#sidebar-right a.active,
#sidebar-left a.active {
  font-weight: bold;
}
#sidebar-right h3.block-title,
#sidebar-left h3.block-title {
  float: left;
  font-size: 16px;
  margin: 0 0 10px 0;
}
#sidebar-right ul,
#sidebar-right ol,
#sidebar-left ul,
#sidebar-left ol,
#sidebar-right ul.menu,
#sidebar-right ol.menu,
#sidebar-left ul.menu,
#sidebar-left ol.menu {
  margin: 0;
  padding: 0 0 0 5px;
}
#sidebar-right ul.menu li,
#sidebar-right ol.menu li,
#sidebar-left ul.menu li,
#sidebar-left ol.menu li {
  margin-right: 0;
  padding-right: 0;
}
#mainmenu .space {
  margin: 10px 0 10px 0;
}
#mainmenu .space .space {
  margin: 10px;
}
#mainmenu h3.block-title {
  display: none;
}
#mainmenu .bg .bg .bg {
  padding: 30px 0 30px 0;
}
#mainmenu ul.menu {
  margin: 0;
  padding: 0;
}
#mainmenu ul.menu li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#mainmenu ul.menu li a {
  clear: both;
  float: left;
  font-size: 18px;
  font-weight: normal;
  outline: none;
  padding: 10px 10px 10px 0;
  text-align: right;
  width: 150px;
}
#mainmenu ul.menu li a:hover,
#mainmenu ul.menu li a:focus {
  text-decoration: none;
}
#mainmenu ul.menu li a.active {
  margin-right: -1px;
  padding-right: 11px;
}
#middle h3.block-title {
  float: left;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
  margin-top: -20px;
}
#middle h3.block-title span.border {
  float: left;
  padding: 4px 10px 4px 10px;
}
#middle {
  margin-top: 40px;
}
#middle .contents {
  font-size: 14px;
  line-height: 24px;
}
#middle #left,
#middle #right {
  float: left;
  width: 480px;
}
#middle #left.wide,
#middle #right.wide {
  width: 960px;
}
#bottom .space {
  margin: 10px 0 10px 0;
}
#bottom .space .space {
  margin: 10px;
}
#bottom .column {
  float: left;
}
#bottom.in1 .column {
  width: 960px;
}
#bottom.in2 .column {
  width: 480px;
}
#bottom.in3 .column {
  width: 320px;
}
#bottom.in4 .column {
  width: 240px;
}
#bottom.in5 .column {
  width: 192px;
}
#bottom .column ul.menu {
  margin: 0;
  padding: 0;
}
#bottom .column ul.menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#bottom .column ul.menu li a,
#bottom .column ul.menu li.expanded li.leaf.last a {
  margin: 0;
}
#bottom .column ul.menu li ul li a {
  padding-left: 15px;
}
#bottom .column ul.menu li ul li ul li a {
  padding-left: 30px;
}
#bottom .column ul.menu li ul li ul li ul li a {
  padding-left: 45px;
}
#bottom .column ul.menu li ul li ul li ul li ul li a {
  padding-left: 60px;
}
#bottom .column ul.menu li ul li ul li ul li ul li ul li a {
  padding-left: 75px;
}
#bottom .column ul.menu li ul li ul li ul li ul li ul li ul li a {
  padding-left: 90px;
}
#bottom .column ul.menu li ul li ul li ul li ul li ul li ul li ul li a {
  padding-left: 105px;
}
#bottom .column ul.menu li a {
  padding: 5px;
}
#bottom .column a:hover {
  text-decoration: none;
}
#bottom h3.block-title {
  font: bold 16px Arial, Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 5px;
}
#bottom .block-search {
  float: left;
  width: 100%;
}
#bottom .block-search .space {
  margin: 0;
}
#bottom .block-search .form-text {
  background: transparent;
  border: 0;
  float: left;
  font-weight: bold;
  height: 18px;
  letter-spacing: 1px;
  margin: 0 0 0 10px;
  outline: 0;
  padding: 12px 0 10px 0;
  width: 112px;
}
#bottom .block-search .form-submit {
  border: 0;
  cursor: pointer;
  float: left;
  height: 30px;
  line-height: 99999px;
  margin: 5px 0 0 10px;
  outline: 0;
  overflow: hidden;
  text-indent: -99999px;
  width: 30px;
}
#footer {
  font-size: 11px;
}
#footer .space .space {
  margin: 10px 0 10px 0;
}
#footer a {
  font-weight: bold;
}
#footer ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer ul.menu li {
  display: inline;
  margin: 0;
  padding: 0;
}
#footer ul.menu li a {
  display: inline;
  padding: 0 5px 0 5px;
}
#footer ul.menu li.first a {
  padding-left: 0;
}
#footer ul.menu li.last a {
  border: 0;
}