#header .region .sf-menu {
  margin: 5px 0 0 0;
}
#header .region .sf-menu li {
  list-style-type: none !important;
}
#header .region .sf-menu a {
  border: 0;
}
#header .region .sf-menu li a {
  font: bold 14px Arial, Helvetica, Verdana, sans-serif;
}
#header .region .sf-menu li li a {
  font-size: 12px;
  font-weight: normal;
}
#header .region .sf-menu li {
  background: transparent;
}
#header .region .sf-menu .sf-sub-indicator {
  background-image: url('../images/arrows-ffffff.png');
}
#header .region .sf-menu.rtl .sf-sub-indicator {
  background-image: url('../images/arrows-ffffff-rtl.png');
}